################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Caravan.Logic/.vs/Caravan.Logic
/Caravan.Logic/obj
/Caravan.LogicTests/bin/Debug/net8.0
/Caravan.LogicTests/obj
/Caravan.Logic/bin/Debug/net8.0
